* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/Img/pic1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__img {
    height: 100px;
}

.nav {
    display: none;
}

.header {
    position: relative;
}

.burger {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    margin: 10px;
    cursor: pointer;
}

.line1 {
    height: 4px;
    background-color: #fff;
    width: 26px;
}

.line2 {
    height: 4px;
    background-color: #fff;
    width: 33px;
    margin-top: 3px;
}

.line3 {
    height: 4px;
    background-color: #fff;
    width: 26px;
    margin-top: 3px;
}

.hero {
    position: absolute;
    bottom: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    justify-content: space-around;
}

.hero_text {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button {
    margin-top: 20px;
    height: 40px;
    width: 150px;
    text-transform: uppercase;
    font-size: 15px;
    background-color: #FF8C00;
    border: none;
    color: #fff;
    font-weight: 500;
    border: 1px solid white;
}

.button__explore {
    background-color: transparent;
    cursor: pointer;
    transition: all 0.6s ease-out;
}

.button__explore:hover {
    background-color: #FF8C00;
}

@media(max-width:334px) {
    .hero_text {
        font-size: 36px;
    }
}

@media(min-width:900px) {
    .nav {
        display: flex;
        color: #fff;
        flex: 0.8;
        align-items: center;
        justify-content: space-around;
        font-size: 17px;
        text-transform: uppercase;
    }
    .burger {
        display: none;
    }
    .header {
        display: flex;
        height: 10vh;
    }
    .logo {
        flex: 0.2;
    }
    .hero_text {
        font-size: 50px;
    }
    .links {
        outline: 1px solid white;
        width: 85px;
        height: 35px;
        text-align: center;
        vertical-align: center;
    }
}